<footer class="d-flex bottomfoot justify-content-evenly text-center fixed-bottom py-3 fs-1 shadow-sm">
  <a href="../index.html" class="text-light">
    <span class="material-icons-outlined  fs-1">
      saved_search
    </span>
  </a>
  <a href="../login.html" class="text-light"><span class="material-icons-outlined  fs-1">
      bookmark_added
    </span></a>
  <a href="../write.html" class="text-light"><span class="material-icons-outlined fs-1">
      add_circle
    </span></a>
  <a href="../write.html" class="text-light"><span class="material-icons-outlined  fs-1">
      forum
    </span></a>
  <a href="../card.html" class="text-light">
    <span class="material-icons-outlined  fs-1">
      account_circle
    </span></a>
</footer>