<nav class="navbar navbar-light fixed-top mb-1 border-bottom shadow-sm">
  <div class="container py-0 mx-1 navtop">
    <a id ="logo" class="navbar-brand float-start w-40" href="#">
      mapMenu<!-- <img class="w-100" src="/images/logo.jpg" alt="" /> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: #ffffff">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<button id="logout" class="float-right btn-danger" onclick="logout()">Logout</button>-->
  </div>
</nav>
<div class="collapse" id="navbarSupportedContent">
  <div class="row g-0" style="background-color:#bae8e8;">
    <div class="col-5 d-flex align-items-center">
      <span class="material-icons">person</span>
      <br>
      <h3>Username</h3>
    </div>
    <div class="col-7">
        <button id="profile">Profile</button>
        <br>
        <button id="logout">logout</button> 
    </div>
  </div>
</div>