<nav class="navbar navbar-light fixed-top mb-1 border-bottom shadow-sm ">
  <div class="container py-0 mx-1 navtop">
    <a id="logo" class="navbar-brand float-start w-40" href="#">
    <img class="w-50 p-2" src="/images/logo2.jpg" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      style="border: #ffffff">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<button id="logout" class="float-right btn-danger" onclick="logout()">Logout</button>-->
  </div>
</nav>