@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
:root {
    --support-color: #f3f3e2;
    --darker-neutral-color: #f3f3e2;
    --main-color: #E4D6A7;
    --secondary-color: #2c698d;
    --accent-color: #272643;
    --font-on-light: #1e1e1e;
    --font-on-dark: #fffff8;
}

body {
    background-color: var(--support-color);
    color: var(--font-on-light);
    margin: 15% 0 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: var(--main-color);
}

footer {
    background-color: var(--main-color);
}

#logo {
    font-weight: bold;
    font-size: 30px;
}

.card {
    margin-left: 2px;
    margin-right: 0;
    left: 3px;

}

.card-img-top {
    height: 10rem;
    object-fit: cover;
}

div.stars {
    width: 270px;
    display: inline-block;
   
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: "\f005";
    color: #FD4;
    transition: all .25s;
}


input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: "\f006";
    font-family: FontAwesome;
}



input.star:checked~.rev-box {
    height: 125px;
    overflow: visible;
}